# Import libraries as we go

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import spacy
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import re
import contractions

# Load all the required datasets as we go

In [2]:
nltk.download("punkt")
nltk.download("stopwords")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ayush\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ayush\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
df = pd.read_csv("data/kalki_movie_reviews.csv")
df.head()

                                            Comments  Ratings
0  I didnt go in with big hopes, but i was expect...        8
1  A unique genre, a well written story (script) ...        8
2  Majestic at scale, grandeur in VFX, and great ...        9
3  "Kalki 2898" is not just a movie; it's an expe...       10
4  Best Indian movie Nagi combined Hindu mytholog...       10

In [4]:
df.Ratings.describe()

count    5000.000000
mean        8.160000
std         2.166873
min         1.000000
25%         8.000000
50%         9.000000
75%        10.000000
max        10.000000
Name: Ratings, dtype: float64

In [5]:
stwords = set(stopwords.words("English"))
stwords

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 "he's",
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 "i'll",
 "i'm",
 "i've",
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 "we've",
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

# Functions used to clean the text data and make it useable

In [6]:
def textCleaner(text:str) -> str:
    text = text.lower()
    text = contractions.fix(text)
    text = re.sub(r"[^a-z\s]", "", text)
    token = word_tokenize(text)
    text = [w for w in token if w not in stwords]
    return text

In [7]:
textCleaner("Apple is a fruit")

['apple', 'fruit']

In [8]:
def plotCustom(data = df):
    sns.countplot(x="Ratings", data=df,palette="viridis")
    plt.title("Rating Distribution")
    plt.show()

    sns.histplot(df["review_Length"], bins=10, kde=True)
    plt.title("Distribution of review length in data")
    plt.show()

In [9]:
df["tokens"] = df["Comments"].apply(textCleaner)
df["review_Length"] = df["tokens"]. apply(len)

In [10]:
df.head(10)

,Comments,Ratings,tokens,review_Length
0,"I didnt go in with big hopes, but i was expect...",8,"[go, big, hopes, expecting, better, adipurush,...",211
1,"A unique genre, a well written story (script) ...",8,"[unique, genre, well, written, story, script, ...",81
2,"Majestic at scale, grandeur in VFX, and great ...",9,"[majestic, scale, grandeur, vfx, great, blend,...",117
3,"""Kalki 2898"" is not just a movie; it's an expe...",10,"[kalki, movie, experience, redefines, boundari...",270
4,Best Indian movie Nagi combined Hindu mytholog...,10,"[best, indian, movie, nagi, combined, hindu, m...",63
5,The Kalki 2898 AD movie is an epic dystopian s...,10,"[kalki, ad, movie, epic, dystopian, science, f...",65
6,#NagAshwin dreams big and manages to execute t...,10,"[nagashwin, dreams, big, manages, execute, spe...",168
7,The soaring epicness of second part of the fil...,6,"[soaring, epicness, second, part, film, excell...",62
8,"Let me share a review of the movie ""Kalki 2898...",9,"[let, share, review, movie, kalki, ad, directe...",171
9,I don't understand the obsession with hero ent...,6,"[understand, obsession, hero, entry, people, g...",52